fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
yt-dlp
youtube-transcript-api==0.6.2
langchain==0.2.1
langchain-groq==0.1.6
langchain-community==0.2.1
groq==0.8.0
chromadb==0.5.0
sentence-transformers==3.0.0
pydantic==2.7.1
httpx==0.27.0
instaloader==4.10.3
